body, html {
  background-image: url(./images/HD-wallpaper-blue-gradient-ombre.jpg);
  background-repeat: repeat-x;
  background-size: cover;
}

.wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 80%;
  margin: 0 auto
}


.word-container {
  grid-column: 1;
  grid-row: 1;
  font-size: 35px;
  background: #E2CB76;
  background: -moz-radial-gradient(center, #E2CB76 0%, #D4DB8A 46%, #96A2D5 100%);
  background: -webkit-radial-gradient(center, #E2CB76 0%, #D4DB8A 46%, #96A2D5 100%);
  background: radial-gradient(ellipse at center, #E2CB76 0%, #D4DB8A 46%, #96A2D5 100%);
  padding: 20px;
  text-align: center;
}

.story-container {
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  border-color: black;
  background: #96A2D5;
  background: -moz-radial-gradient(center, #96A2D5 0%, #D4DB8A 46%, #E2CB76 100%);
  background: -webkit-radial-gradient(center, #96A2D5 0%, #D4DB8A 46%, #E2CB76 100%);
  background: radial-gradient(ellipse at center, #96A2D5 0%, #D4DB8A 46%, #E2CB76 100%);
  padding: 20px;
  text-align: center;
  border-style:inset;
}

.user-input {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  height: 40px;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.submit-btn {
  padding: 20px;
  border-radius: 12px;
}

.user-data {
  position: absolute;
  top: 15%;
  left: 40%;
  width: auto;
  margin-top: 20px;
  /* bottom: 10%; */
  display: flex;
  background: #FBFE8C;
  background: -moz-linear-gradient(left, #FBFE8C 0%, #C4DB93 42%, #C9BDFF 100%);
  background: -webkit-linear-gradient(left, #FBFE8C 0%, #C4DB93 42%, #C9BDFF 100%);
  background: linear-gradient(to right, #FBFE8C 0%, #C4DB93 42%, #C9BDFF 100%);
  justify-content: center;
  align-items: center;
  border: 11px double #1C6EA4;
}

.user-index {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: block;

}

.user-ul {
  list-style-type: none;
}

.user-badges {
  width: fit-content;
  padding: 5px;
  align-items: right;
  color: black;
  background: #f8e40c;
  border: 11px dashed #1C6EA4;
}

.badges-header {
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: transparent;
}

.user-head {
  position: absolute;
  top: 25px
  ;
  justify-content: center;
  align-items: center;
  left: 45%;
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: transparent;
}

.user-div {
  grid-column: 2;
  grid-row: 1;
  
}

.nav-btn {
  padding: 10px;
}

.user-btn {
  width: 150px;
  border-radius: 12px;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: #f8e40c;
  background: -moz-linear-gradient(top, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
  background: -webkit-linear-gradient(top, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
  background: linear-gradient(to bottom, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
}

.user-home-button {
  width: 150px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: #f8e40c;
  background: -moz-linear-gradient(top, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
  background: -webkit-linear-gradient(top, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
  background: linear-gradient(to bottom, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
}


.upvote-btn {
  background: none;
  border: none;
  border-radius: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

.liked {
  background-color: slateblue;


}

.text-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  
}



.text-content {
  flex-grow: 1;
}